.App {
  text-align: center;
}
body {
  background-image: url("https://images.unsplash.com/photo-1542779283-429940ce8336?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: 150%;
}

/* DivTable.com */
.divTable {
  display: table;
  max-width: 20em;
  float: right;
  display: flex;
  align-items: center;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}

.divTableCell:nth-child(odd) {
  background-color: gainsboro;
}

.container {
  display: flex;
  opacity: 0.9;
  background-color: whitesmoke;
  justify-content: center;
}

img {
  height: 16em;
}

input {
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
}
